---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family: Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;



// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}


// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;

.post-content img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  }

/* credit: http://codepen.io/rvinay88/pen/Hweau */
hr.soften {
  height: 1px;
  background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.8), rgba(0,0,0,0));
  background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.8), rgba(0,0,0,0));
  background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.8), rgba(0,0,0,0));
  background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.8), rgba(0,0,0,0));
  border: 0;
}

.post {
  margin-bottom: 100px;
}

.mc-field-group {
  float: left;
}

#mce-responses {
  float: left;
  margin-left: 30px;
}

#mc-embedded-subscribe {
  background-color: #333;
}

.site-footer {
  border: 0;
  color: #f4f4f4;
  background-color: #333;
  width: 100%;
}

.site-footer a {
  color: #6bace4;
}

.site-footer a:hover {
  color: #92ccff;
}

#mc_embed_signup {
  padding: 0 20px 20px 0;
}

#mc_embed_signup h2 {
  margin-top: 0;
}

#mc-embedded-subscribe {
  background-color: #555;
  border: 0;
  padding: 3px 5px 3px 5px;
}
