---
layout: page
title: Trabalhos
permalink: /trabalhos/
---
<h2>Projetos</h2>
<table class="table table-striped">
  <thead>
  <tr>
    <th>Título</th>
    <th>Descrição</th>
    <th>Última Atualização</th>
  <tr>
  </thead>
  <tbody>
{% for project in site.data.projects %}
  <tr>
    <td> 
      {% if project.url %}
      <a href='{{ project.url }}'>
        {{ project.title }}
      </a>
      {% else %}
      {{ project.title }} 
      {% endif %}
    </td>
    <td> {{ project.desc }} </td>
    <td> {{ project.lastupdate }} </td>
  </tr>
{% endfor %}
</tbody>
</table>

<h2>Apresentações</h2>
<ul>
{% for slide in site.data.slides %}
  <li>
  <a href="{{ slide.url }}">{{ slide.title }}</a> - {{ slide.desc }} - <em>apresentado em {{ slide.where}} </em>
  
  </li>
{% endfor %}
</ul>

<h2>Publicações</h2>
<ul>
{% for publication in site.data.publications %}
  <li>
    {{ publication.authors }}. 
    <strong>{{ publication.title }}.</strong> 
    {{ publication.info }}
    {% if publication.url %}
    [ <a href="{{ publication.url }}">
        {{ publication.format }}</a>
    ]
    {% endif %}
  </li>
{% endfor %}
</ul>
