<footer class="vertical-container my-10 flex flex-col lg:flex-row justify-between items-center gap-4 lg:gap-0">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  
  <ul class="inline-flex">
    {% for profile in site.data.social-profiles %}
    <li class="px-2 first:pl-0"><a href="{{profile.url}}">{{ profile.name }}</a></li>
    {% endfor %}
  </ul>
  <p role="presentation" class="hidden lg:flex">&bull;</p>
  <div class="flex items-center justify-items-center text-xs lg:text-sm text-gray-500 text-center lg:text-right gap-4">
    <span>CC BY-NC-SA 4.0</span>
    <span><a href="#" onclick="alert('Opinions are my own and not necessarily the views of my employer')">Disclaimer</a></span>
  </div>
</footer>
