<ul>
  {%- assign paths = site.pages | sort: 'date' | reverse |
  where:"layout","project" -%} {%- for project in paths -%}
  <li
    class="flex flex-col lg:flex-row justify-between my-2 border-b-2 py-2 gap-2"
  >
    {%- assign date_format = site.minima.date_format | default: "%Y" -%}
    <div class="flex">
      <a class="post-link" href="{{ project.url | relative_url }}">
        {{ project.title | escape }}
      </a>
    </div>

    <div class="text-gray-400 text-right">
      <span class="text-yellow-400 text-center px-4"
        >[{{ project.type | capitalize }}]</span
      >
      {{ project.date | date: date_format }}
    </div>
    {%- if site.show_excerpts -%} {{ post.excerpt }} {%- endif -%}
  </li>
  {%- endfor -%}
</ul>
