---
import PageLayout from '../layouts/PageLayout.astro';
---

<PageLayout title="Disclaimer" prose>
  <p>The opinions expressed on this website are my own and do not necessarily reflect the views of my employer, past or present.</p>

  <p>The content provided here is for informational purposes only. While I strive to keep the information accurate and up-to-date, I make no representations or warranties of any kind about the completeness, accuracy, or reliability of any information on this site.</p>

  <p>Any reliance you place on such information is strictly at your own risk.</p>
</PageLayout>
