---
import PageLayout from '../layouts/PageLayout.astro';
---

<PageLayout title="Get some time with me">
  <h2>My Calendar is open for you</h2>

  <p>Are you a LATAM developer aspiring to get into the crypto industry? Or perhaps you are a founder looking to start a company in crypto or curious about your options for raising capital? Schedule some time with me and I can help you get started!</p>

  <p>I have 10+ years of experience in Software (2 of those in crypto). I have several acquaintances I helped get into international jobs and I'm mentoring a couple people to get into crypto (one of them with zero experience in the software industry).</p>

  <p><a href="/book">Schedule time with me ↗</a></p>

  <h2>Why I am giving away free consultations?</h2>

  <p>I'm not selling you anything. I want to learn some skills and help my community, effectively killing two birds with one stone. Although that endeavor might result in a business someday, right now, I just want to talk to people and learn about hiring and recruiting.</p>

  <h2>What to Expect in Your Consultation</h2>

  <ul>
    <li><strong>Personalized Advice:</strong> Tailored guidance based on your background and goals.</li>
    <li><strong>Market Insights:</strong> Updates on the latest trends and opportunities in crypto.</li>
    <li><strong>Strategy Development:</strong> Practical steps to start or enhance your crypto journey.</li>
  </ul>

  <h2>You just want to contact me?</h2>

  <p>Twitter DM, or you can get my key at <a href="https://keybase.io/lfsmoura">keybase</a></p>
</PageLayout>
