---
import BaseLayout from './BaseLayout.astro';

interface Props {
  title?: string;
  prose?: boolean;
}

const { title, prose = false } = Astro.props;
---

<BaseLayout title={title}>
  <div class:list={["w-full", { "prose prose-blue dark:prose-invert max-w-none": prose }]}>
    {title && <h1 class="text-3xl font-bold mb-6">{title}</h1>}
    <slot />
  </div>
</BaseLayout>
